recursive-include graphkernels *.py *.cpp *.h *.i

include AUTHORS.md
include LICENSE.md
include README.md

include pyproject.toml
include requirements.txt
include setup.cfg
include setup.py

include CPPLINT.cfg
include .pylintrc
include .travis.yml
